<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>


<div id = app>
<span><input type="text" v-model="ttt"></span>
<p v-if="seen" v-for="(title,i) in info">第{{i}}项是{{title.main}}和{{title.sub}}的组合</p>
<input type="button" onclick="login()" value="点击一下" class="btn btn-primary">
</div>

<script>
const app1 ={
			data(){
			message: "abcdef";
	        seen:false;
	        ttt:"请输入内容";
			}
			
}
function login(){
	const app2 ={
	  data () {
		  
	    return {
	      info: null
	    }
	  },
	  mounted () {
	    axios
	      .post('http://10.17.53.45:8080/QuestionBank/test',{
	    	  ttt
	      }   		  	      )
	      .then(response => (this.info = response.data.indexs))
	      .catch(function(success){
	    	  seen = true;
	      })
	      .catch(function (error) { // 请求失败处理
	        console.log(error);
	      });  
	
	  }
	}
	Vue.createApp(app2).mount('#app')
}
Vue.createApp(app1).mount('#app')
</script>

</body>
</html>