<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>QuestionBank</display-name>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>CharSetAndLoginFilter</filter-name>    <!-- 类名 -->
  	<filter-class>com.javaweb.filter.CharSetAndLoginFilter</filter-class>	<!-- 代码文件所在的包的完整路径 -->
  </filter>

  <filter-mapping >
  	<filter-name>CharSetAndLoginFilter</filter-name>	<!-- 类名 这个名要跟上面的类名保持一致 -->
  	<url-pattern>/pages/*</url-pattern>	<!-- 这里的路径/*代表过滤所有页面 -->
  </filter-mapping>
  <filter-mapping >
  	<filter-name>CharSetAndLoginFilter</filter-name>	<!-- 类名 这个名要跟上面的类名保持一致 -->
  	<url-pattern>/download/*</url-pattern>	<!-- 这里的路径/*代表过滤所有页面 -->
  </filter-mapping>
  
  <error-page> 
    <error-code>404</error-code> 
    <location>/404error.html</location> 
  </error-page> 
</web-app>